<%= form_with(model: wine, local: true) do |f| %>
  <% if wine.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(wine.errors.count, "error") %> prohibited this wine from being saved:</h2>

      <ul>
      <% wine.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div class="input-group mb-3">
      <%= f.label :name, 'Nombre', class: 'input-group-text' %>
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>

  <div class="field">
    <%= f.fields_for :wine_varieties do |wine_varieties| %>
      <%= render "wine_variety_fields", f: wine_varieties %>
    <% end %>
    <%= link_to_add_association button_tag("Agregar Cepa", type: "button", class: "btn btn-primary my-2"), f, :wine_varieties %>
  </div>

  <div class="field">
    <%= f.fields_for :wine_oenologists do |wine_oenologists| %>
      <%= render "wine_oenologist_fields", f: wine_oenologists %>
    <% end %>
    <%= link_to_add_association button_tag("Agregar Nota", type: "button", class: "btn btn-secondary my-2"), f, :wine_oenologists %>
  </div>

  <div class="actions mb-3">
    <%= f.submit 'Guardar', class: 'btn btn-success' %>
  </div>

<% end %>
